
/*
================================================================================

  Responsive breakpoints settings

================================================================================
*/

@import 'mq';


$mq-breakpoints: (
  mq375: 375px,
  mq414: 414px,
  mq568: 568px,
  mq768: 768px,
  mq1024: 1024px,
  mq1280: 1280px
);
