
/*
================================================================================

  "Header" tablet styles

================================================================================
*/

@include mq($from: mq768) {
 
}

// From 1024px
@include mq($from: mq1024) {
  .course{
    .main-content{
      width: 100%;
      .main-header{
        margin: 0px 40px;
      }
      .course-content{
        margin: 20px 40px;
        display: block;
        overflow: hidden;
        height: 100%;
        >.video  {
          float: left;
          width: 65%;
        }
        >.other-quizes{
          float: right;
          width: 30%;
        }
      }
      
    }
  }
}
