
/*
================================================================================

  "Header" tablet styles

================================================================================
*/

@include mq($from: mq768) {
 
}

// From 1024px
@include mq($from: mq1024) {
  .course{
    .main-content{
      width: 100%;
      .main-header{
        margin: 0px 40px;
      }
      .course-content{
        margin: 20px 40px;
        display: block;
        overflow: hidden;
        height: 100%;
        >.content  {
          float: left;
          width: 65%;
          height: auto;
          >.tabcontent{
            &.quiz{
              .progress-container{
                      >.progress{
                          width: calc(100% - 80px);
                      }
                      >span{
                          width: 80px;
                      }
                  }
                  span{
                      margin-right: 80px;
                  }
                  .answers{
                      list-style: none;
                      margin: 40px 80px 40px 0;
                      padding: 0;
                      
                  }
                 
                  .images{
                      
                      margin-right: 80px;
                     
                  }
                  .save-button{
                    margin-right: 20px;
                  }
                  

              }
          }
        }
        >.other-quizes{
          float: right;
          width: 30%;
          height: auto;
        }
      }
      
    }
  }
}
