
/*
================================================================================

  Variables

================================================================================
*/



/* Fonts
------------------------------------ */

$system-font-stack: 'Open Sans', sans-serif;



/* Colors
------------------------------------ */

$text-color: #000000;
$main-color: #3e75b2;
$border-color: #e7ecef;

$pink-color: #e86961;
$green-color: #65c765;
