
/*
================================================================================

  "Header" desktop styles

================================================================================
*/


// From 1280px
@include mq($from: mq1280) {
  .my-content{
    .main-content{
      width: 100%;
      .add-button{
        margin: 18px 10px;
      }
      h1{
        margin: 20px 40px;
      }
      .item{
        margin: 20px 40px;
      }
    }
  }
}