
/*
================================================================================

  "Header" tablet styles

================================================================================
*/

@include mq($from: mq768) {
 
}

// From 1024px
@include mq($from: mq1024) {
  .my-content{
    .main-content{
      width: 100%;
      .add-button{
        margin: 18px 40px;
      }
      h1{
        margin: 20px 40px;
      }
      .item{
        margin: 20px 40px;
        >.box{
          float: left;
          width: 50%;
        }
        >.controls{
          float: right;;
          padding: 0;
          margin-top: 100px;
        }
      }
    }
  }
}
