
/*
================================================================================

  "Header" tablet styles

================================================================================
*/

@include mq($from: mq768) {
 
}

// From 1024px
@include mq($from: mq1024) {
  .create-question{
    .main-content{
      width: 100%;
      .controls{
        margin: 0 10%;
      }
      .question-content{
        margin: 20px 10% 0 10%;
        display: block;
        overflow: hidden;
        >.question  {
          float: left;
          width: 65%;
        }
        >.other-questions{
          float: right;
          width: 30%;
        }
      }
      
    }
  }
}
