
/*
================================================================================

  "Header" base styles

================================================================================
*/


.header {
  position: fixed;
  top: 0;
  z-index: 10;
  background-color: #fff;
  box-shadow: 0 0.1rem 0.3rem rgba(#000, 0.04);
  display: block;
  min-height: 63px;
  padding: 0;
  width: 100%;
  

  &__container {
   clear: both;
   overflow: hidden;
   padding: 0 8px;
  }
  &__button {
    float: right;
    margin-top: 23px;
    margin-right: 5px;
    margin-left:20px;
  }
  &__title {
   color: #ff0000;
   font-size: 30px;
   line-height: 63px;
   font-weight: 800;
   float: left;
  }

  &__right{
    float: right;
    display: block;
    /*search form*/
    form{
      margin-top: 18px;
      float: left;
      input{
        display: none;
      }
      button{
        outline: none;
        border: none;
        background: url(../img/search.png);
        width: 26px;
        height: 26px;
      }
    }

    .profile{
      float: left;
      display: block;
      text-decoration: none;
      margin: 18px 5px;
    }

    .content{
      float: left;
      display: block;
      text-decoration: none;
      margin: 18px 0px 15px 0px;
      line-height: 26px;
      font-size: 16px;
      color:#666666;
      > img{
        float: left;
        margin-right: 5px;
      }
      > span{
        display: none;
      }

    }

    .add-button{
      float: left;
      display: block;
      text-decoration: none;
      margin: 18px 0;
      font-size: 13px;
      font-weight: 500;
      height: 29px;
      line-height: 29px;
      background: #ff0000;
      color: #ffffff;
      padding: 0 10px;
      img{
        margin-right:0px;
      }
      > span{
        display: none;
      }
    }
  }
}


/* NAVIGATION
============================================================ */

.nav {
  
  background-color: #e6e6e6;
  display: block;
  clear: both;
  overflow: hidden;


  &__container {
    clear: both;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style-type: none;
    display: block;
    overflow: hidden;
  }

  &__item {
    float: left;
    height: 60px;
  }
  &__link {
    display: block;
    color: $main-color;
    font-size: 14px;
    font-weight: 600;
    line-height: 40px;
    text-decoration: none;
    color: $text-color;
    padding:0px 11px;
    margin: 10px 0;
    position: relative;
    border-left: 1px solid #c9c9c9;
    &.home{
      border-left: none;
    }
    &.selected{
      color:#ff0000;
    }
    
    img{
      display:none;
      float: left;
      margin-top: 18px;
      margin-right: 5px;
    }
    span{
      display: none;
      position: absolute;
      width:14px;
      height: 14px;
      line-height: 14px;
      text-align: center;
      font-size: 9px;
      border-radius: 50%;
      background: #ff0000;
      top: 11px;
      color: #fff;
      font-weight: 700;
      left: 28px;
    }
  }
}

.sub-nav-mobile{
  margin-top: 120px;
  background: #f2f2f2;
  height: 60px; 
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  >a{
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
    line-height: 55px;
    color:#7d7d7d;
    text-decoration: none;
    margin:0px 12px;
    &.selected{
      border-bottom: 5px solid #7d7d7d;
    }
  }
}


/* Footer
============================================================ */

footer{
  display: none;
  background: #cccccc;
  border-top: 1px solid #e0e0e0;
  clear: both;
  overflow: hidden;
  width: 100%;
  padding: 0 30px;
  height: 55px;
  
  .title{
    color: #ff0000;
    font-size: 20px;
    font-weight: 600;
    line-height:30px;
    
  }
  .text{
    font-size: 15px;
    line-height:55px;
    color: #000;
    position: absolute;
    bottom: 0;
  }

  .footer-right{
    ul{
      margin: 0;
      padding: 0;
      list-style: none;
      li{
        a{
          line-height:55px;
          font-size: 16px;
          text-decoration:none;
          color: $text-color;
        }
      }
    }
    .social-media{
      float: right;
      border-left: 1px solid #262626;
      padding-left: 16px;
      height: 55px;
      margin-top: 0px;
      img{
        margin: 16px 4px 0 4px;
      }
    }

  }
}
.table-row{
  display: table;
  height: 100%;
  width: 100%;
  background: #f2f2f2;
}
.side-menu{
  width: 300px;
  top: 0;
  z-index: 1000;
  position: fixed;
  display: none;
}

.side-menu{
.inner{
  background: #f2f2f2;
  height: 100%;
  >div{
    padding:30px;
    font-size: 16px;
    border-bottom: 1px solid #d6d6d6;
    &.no-border{
      border-bottom: none;
    }
    
    >a{
      text-decoration: none;
      color: #666666;
      text-transform: uppercase;
      margin-bottom: 20px;
      display: block;
    }
    >span{
      text-transform: uppercase;
      margin-bottom: 20px;
      display: block;
      img{
        margin: -2px 10px 0 0px;
        float: left;
      }
    }
    ul{
      list-style: none;
      padding:0;
      margin: 0;
      >li{
        margin: 10px 0;
        &:before{
          content:'';
          width: 20px;
          height: 20px;
          border-radius: 60%;
          border: 2px solid #666666;
          display: block;
          float: left;
          margin:0  5px 0 0 ;
        }
        &.green{
          &:before{
            border-color: #009245;
          }
        }
        &.red{
          &:before{
            border-color: #c1272d;
          }
        }
        
      }

      &.no-circle{
        >li{
          padding-left: 25px;
          &:before{
            content: none;
          }
        }
      }
    }
  }
}
 
}

.main-content{
  background: #fafafa;
  h1{
    margin: 40px 10%;
    margin: 0px 10px;
    margin-bottom: 20px;
    display: block;
    color: #666666;
  }
  .box{
    margin: 20px 10%;
    margin: 0px 10px;
    margin-bottom: 20px;
    background: #ffffff;
    box-shadow: 0 0.4rem 0.4rem rgba(#000, 0.05);
    padding: 15px;
    font-size: 14px;
    img{
      float: left;
      margin-right: 5px;
    }
    > span{
      margin-bottom: 20px;
      display: block;
    }

    >div{
      border: 1px solid #dcdcdc;
      padding: 15px;

      h2{
        margin-top: 0;
        color: #000;
        font-size: 1.3em;
      }
      b{
        display: block;
        font-weight: 700;
        margin-bottom: 15px;
        >span{
          font-weight: 300;
        }
      }
      .controls{
        display: block;
        clear: both;
        overflow: hidden;
        margin-top: 30px;
        border-top: 1px solid #000000;
        padding-top:10px;
        >a {
          float: left;
          text-decoration: none;
          color: #000;
          margin-right: 20px;
          &.add{
            img{
              background: #000;
              padding: 3px;
              border-radius: 50%;
            }
          }
          &.assign{
            margin-top: 10px;
            clear: both;
          }
        }
        >.share{
          margin-top: 10px;
          float: left;

          >a{
            display: inline-block;
            >img{
              margin: 0;
            }
            &.more{
              margin-bottom: 4px;
            }
          }
        }
      }
    }
  }
}

.side-content{
  background: #f2f2f2;
  display: none;
  
  .box{
    font-size: 14px;
    background: #ffffff;
    border: 1px solid #c0c0c0;
    margin: 25px;
    padding: 30px;
    border-radius: 15px;
    text-align: center;
    >span{
      display: block;
      font-weight: 600;
      margin-bottom: 10px;
    }
    >ul{
      list-style: none;
      margin: 0;
      padding: 0;
      >li{
        padding: 3px 0;
      }
    }
    a{
      text-decoration: none;
      background: #009245;
      color: #ffffff;
      padding: 7px 12px;
      display: inline-block;
      margin-top: 10px;
    }
  }
}


.side-menu-btn{
  display: block;
  position: fixed;
  left: 20px;
  bottom: 20px;
  background: #ff0000;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  z-index: 10000;

  img{
    width: 25px;
    height: 22px;
  }
}

.breadcrumb{
  margin: 6px 10px 20px 10px;
  clear: both;
  display: block;
  >a{
    font-size: 1.5em;
    text-decoration: none;
    color: $text-color;
    margin-right: 6px;
    &:after{
      content: '>';
      margin-left: 5px;

    }
    &:last-child{
      &:after{
        display: none;
      }
    }
  }
}

.main-header{
  font-size: 2.5em;
  display: block;
  margin: 0px 10px;
}

.buttons{
  display: block;
  text-align: right;
  width: 100%;
  .save-button{
    color: #ffffff;
    background: #ff0000;
    height: 50px;
    line-height: 50px;
    font-size: 18px;
    padding:  0 26px;
    margin:25px 10px;
    text-decoration: none;
    display: inline-block;
    border-radius: 4px;
  }
}