
/*
================================================================================

  "Header" desktop styles

================================================================================
*/


// From 1280px
@include mq($from: mq1280) {
    .header {
      position: relative;
      &__container {
        clear: none;
        overflow: visible;
      }
      &__right{
        display: block;
        float: right;
        border-top: 0.1rem solid $border-color;
        background: #ffffff;
        /*search form*/
        form{
          width: auto; 
        }
    }
    // Navigation
    .nav {
      background-color: #ffffff;
      clear: none;
      float: left;
      display: block;
      box-shadow: none;
      top: 0px;
      position: relative;

      &__container {
        clear: both;
        overflow: hidden;
      }

      &__item {
        float: left;
        border: none;
        
      }

      &__link {
        border-left:none;
        line-height: 60px;
        margin: 0;
        img{
          display:block;
        }
        span{
          display: block;
        }
      }
    }

    .sub-nav-mobile{
      display: none;
    }
  }
  
  .sub-nav-mobile{
    display: none;
  }
  .side-menu, .main-content, .side-content{
    padding-top: 0;
    height: 100%;
    float: left;
    display: table-column;
  }
  
  .side-menu, .side-content{
    width: 20%;
  }
  .main-content{
    width: 60%;
  }
  .side-menu{
    position: relative;
    left: 0;
  }

  .side-menu-btn{
    display: none;
  }
}