
/*
================================================================================

  "Header" tablet styles

================================================================================
*/

@include mq($from: mq768) {
  .header {
      &__right{
        display: block;
        float: right;
    }
    &__title {
      float: left;
      font-size: 35px;
    }
    .nav {
      position: absolute;
      top: 60px;
    }
  }
}

// From 1024px
@include mq($from: mq1024) {
  .side-menu, .main-content, .side-content{
    height: 100%;
    float: left;
    display: table-column;
  }
  
  .side-menu{
    display: none;
  }
  .main-content{
    width: 70%;
    background: #fafafa;
    h1{
      margin: 40px 10%;
     }
    .box{
      margin: 20px 10%;
    }
  }
  .side-content{
    width: 30%;
    display: block;
  }

  // Header
  .header {
    &__title {
      float: left;
      font-size: 35px;
    }
    &__right{
      margin: 0;
      overflow: hidden;
      border-top: 0.1rem solid $border-color;
      background: #ffffff;
      float: right;
  
      // Opened state
      &.js-opened {
        display: block;
      }
      /*search form*/
      form{
        position: relative;
        float: left;
        line-height: 63px;
        margin-top: 0;
        input{
          width:285px;
          background:#f2f2f2;
          font-size: 12px;
          outline: none;
          border: none;
          height: 23px;
          padding: 0 13px;
          display: inline;
        }
        button{
          position: absolute;
          top: 16px;
          right: -10px;
        }
      }
  
      .profile{
        margin: 15px 20px;
      }
  
      .content{
        margin: 15px 20px 15px 0px;
        > span{
          display: inline-block;
        }
      }
  
      .add-button{
        margin: 15px 20px;
        img{
          margin-right:5px;
        }

        > span{
          display: inline-block;
        }
      }
    }

    .nav {
      top: 60px;
      
    }
  }

  footer{
   display: block;
    > div, ul{
      float: left;
    }
    .title{
      line-height: 94px;
    }
    .text{
      margin-left: 40px;
      line-height: 94px;
      position: relative;
    }

    .footer-right{
      float: right;
      ul{
          margin: 0;
          padding: 0;
          list-style: none;
          li{
            padding: 0 20px;
            float: left;
            a{
              line-height: 94px;
            }
          }
      }
   }
  }
}
