
/*
================================================================================

  "Header" desktop styles

================================================================================
*/


// From 1280px
@include mq($from: mq1280) {
  .results{
    .main-content{
      width: 100%;
      h1{
        margin: 20px 40px;
      }

      .table-container{
        width: calc(100% - 80px);
        margin: 20px 40px;
     }
    }
  }
}