
/*
================================================================================

  "Article" page mobile styles

================================================================================
*/


// From 375px
@include mq($from: mq375) {

  // Article
  .article {
    padding-top: 3rem;

    &__title {
      font-size: 2.8rem;
    }
  }

}


// From 414px
@include mq($from: mq414) {

  // Article
  .article {
    padding-left: 2rem;
    padding-right: 2rem;
  }

}
