
/*
================================================================================

  "Article" page tablet styles

================================================================================
*/


// From 1024px
@include mq($from: mq1024) {

  // Article
  .article {
    padding-top: 5rem;
    padding-bottom: 6rem;
    max-width: 65rem;
  }

}
